	.mystyle{
				color: red;
				font-size: 75;
				text-indent: 50px;	
			}

			#myid{
				color: red;
				font-size: 75px;
			}

			.mydiv{
				background: gray;
				border: 10px black solid;
				height: 100px;
				width: 50%;
				margin-left: 30%;
				margin-top: 20%;
				padding-top: 50px;
			}

			.mytext{
				color: black;
				text-align: center;
				background: #008000;

				/*margin-top: 50px; */ 
			}
			
			.mydiv1{
				background: yellow;
				border: 10px red solid;
				height: 100px;
				width: 50%;
				margin-left: 30%;
				margin-top: 20%;
				padding-top: 50px;
			}

			.menu{
				background: gray;
				height: 100px;
				border-bottom: 1px gray solid;
				margin: 0px;

			}

			body{
				padding: 0;
			}

			.menu-inline{
				display: inline

			}

			.menu-div{
				width: 100% !important;
			}

			.logo{

    margin-top: 23px;
    margin-right: 60px;

			}
.first{
	margin-right: 60px;
}

.third:hover{
	font-weight: bold;
	border-bottom: 2px solid orange;
	padding-bottom: 15px;
}

.hidiv{
	background-image: url('img/texture.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
	padding: 10px;
}