
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');






.boderclass{
    border: 1px solid black;
}

.body{

font-family: 'Poppins', sans-serif;

background-image: url('../img/login/bg1.jpg');

background-size: cover;

background-repeat: no-repeat;

background-position-y: center;

background-origin: unset;
}



.login-section{
    background: #6d6c6c;
    height: 578px;
    margin-top: 117px;
    width: 72%;
    margin-left: 15%;

}

.login-section__left{
        background: #638df1;
        height: 578px;
        -webkit-box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89); 
box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89);
}

.login-section__right{
        background: #fff;
        height: 578px;
-webkit-box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89); 
box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89);
}

.login-section-left__img2{
    width: 85%;
    margin-top: 10%;
    margin-left: 44px;
}

.login-section-left__img1{

    width: 9%;
    position: absolute;
    /* right: 136px !important; */
    float: right;
    margin-top: -30px;
    right: 49%;

}


.login-section-left__text1{
color: white;
    text-transform: uppercase;
    /* margin-right: 28% !important; */
    /* z-index: 999; */
    margin-left: 39%;
    margin-top: 10px;

}
    

.login-section-left__img3{width: 8%;position: absolute;margin-left: -10px;margin-top: 17px;}


.login-section-left__text2{color: white;text-align: center;text-transform: uppercase;font-weight: 400;margin-top: 17px;margin-left: -11%;}
    

    .login-section-right__text1{
        
float: right;
        
margin-right: 38px;
        
font-size: 12px;
        
margin-top: 24px;
    }


    .login-section-right__credential{
       
margin-top: 86px;
       
padding-left: 9%;
       
padding-right: 27%;
    }

.login-right__button{
    margin-left: 11px;
}



p.login-section-right__text3 {
    font-size: 13px;
}

label.form-label {
    font-size: 11px;
    font-weight: 600;
}

p.login-section-right__text2 {
    font-size: 22px;
    font-weight: 600;
}

.login-right__button2{
    width: 100%;
}



.google-img{
        width: 7%;
    display: inline;
}

.google-text{
        display: inline;
    font-size: 12px;
}

.google-btn{
       -webkit-box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89); 
box-shadow: 1px -2px 5px -1px rgba(168,168,168,0.89);

}


.signup-text{
        font-size: 11px;
    margin-top: 13px;
}

.signup-bluetext{
     font-weight: 700;
    color: #0d6efd;
   
}



.background__gray{
    padding: 2%;
    background: #ece9e9;
}

.hideme{
    display: none;
}